[defaults]
inventory = inventories/dev/hosts.yml
roles_path = roles
collections_path = collections
retry_files_enabled = False
host_key_checking = False
interpreter_python = auto_silent
deprecation_warnings = False
forks = 20
timeout = 30
display_skipped_hosts = False
vault_password_file = .vault_pass

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = True

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
control_path_dir = /tmp/.ansible-cp
