server {
    listen {{ phpldapadmin_http_port }};
    listen [::]:{{ phpldapadmin_http_port }};

    server_name _;

    root {{ phpldapadmin_web_root }};
    index index.php index.html;

    access_log /var/log/nginx/phpldapadmin_access.log;
    error_log /var/log/nginx/phpldapadmin_error.log;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:{{ phpldapadmin_php_socket }};
    }

    location ~ /\.ht {
        deny all;
    }
}
